body{

margin:0;

background:#0b1120;

color:white;

font-family:'Segoe UI',sans-serif;

}



.navbar{

display:flex;

justify-content:space-between;

padding:20px 50px;

background:#111827;

box-shadow:0 5px 20px black;

}



.container{

width:90%;

margin:auto;

}



.status-container{

display:grid;

grid-template-columns:repeat(4,1fr);

gap:20px;

}



.status-card{

background:#1e293b;

padding:20px;

border-radius:15px;

text-align:center;

}



.online{

color:#22c55e;

font-size:20px;

}



.grid{

display:grid;

grid-template-columns:1fr 1fr;

gap:25px;

margin-top:30px;

}



.panel{


background:#1e293b;

padding:25px;

border-radius:20px;

box-shadow:0 5px 20px #0005;


}



button{


background:#0284c7;

border:none;

color:white;

padding:12px 20px;

border-radius:10px;

margin:5px;

cursor:pointer;

}



button:hover{

background:#0369a1;

}



.terminal{

background:black;

padding:20px;

border-radius:10px;

margin-top:20px;

font-family:monospace;

color:#22c55e;

}



.video-box{


height:250px;

background:black;

display:flex;

align-items:center;

justify-content:center;

font-size:30px;

color:#38bdf8;

border-radius:15px;


}



table{


width:100%;

border-collapse:collapse;


}


td,th{

padding:15px;

border-bottom:1px solid #334155;

}

.success-alert{

background:#16a34a;

padding:15px;

border-radius:10px;

margin:20px;

color:white;

text-align:center;

font-weight:bold;

}

.file-container{

display:grid;

grid-template-columns:repeat(2,1fr);

gap:20px;

}



.file-card{

background:#1e293b;

padding:20px;

border-radius:15px;

border:1px solid #334155;

}



.file-card pre{

white-space:pre-wrap;

color:#22c55e;

font-family:monospace;

font-size:14px;

}