<!DOCTYPE html>
<html>

<head>

<title>
Network Login
</title>

<link rel="stylesheet" href="/static/auth.css">

</head>


<body>


<div class="background">


<div class="auth-card">


<div class="logo">

🌐

</div>


<h1>
Network Programming
</h1>


<p class="subtitle">

Client - Server Management System

</p>



<form method="POST" action="/login">



<label>
Email
</label>

<input 
type="email"
name="email"
placeholder="Enter Gmail Account"
required>



<label>
Password
</label>


<input
type="password"
name="password"
placeholder="Enter Password"
required>



<button>
LOGIN
</button>



</form>



<div class="divider">
OR
</div>



<a href="/register"
class="register">

Create New Account

</a>



<div class="security">


🔒 SMTP Email Verification Enabled

<br>

⚡ TCP File Transfer

<br>

📡 UDP Streaming Service


</div>



</div>


</div>


</body>


</html>