<!DOCTYPE html>

<html>


<head>


<title>
Register Account
</title>


<link rel="stylesheet" href="/static/auth.css">


</head>



<body>


<div class="background">


<div class="auth-card">



<div class="logo">

📝

</div>



<h1>
Create Account
</h1>


<p class="subtitle">

Register Email For Network System

</p>



<form method="POST" action="/register">


<label>
Email Gmail
</label>


<input

type="email"

name="email"

placeholder="example@gmail.com"

required>




<label>
Password
</label>


<input

type="password"

name="password"

placeholder="Create Password"

required>



<button>

REGISTER

</button>



</form>




<a href="/login"

class="register">

Already have account?

</a>



<div class="security">


📧 OTP Verification

<br>

🛡 Permission Access Control

<br>

🌐 Secure Network System


</div>



</div>


</div>


</body>


</html>