<!DOCTYPE html>

<html>

<head>

<title>
Verify Email
</title>


<link rel="stylesheet" href="/static/auth.css">


</head>


<body>


<div class="background">


<div class="auth-card">


<div class="logo">

📩

</div>



<h1>
Email Verification
</h1>



<p class="subtitle">

OTP sent via Gmail SMTP

</p>




<form method="POST">


<input

type="text"

name="otp"

placeholder="Enter 6 Digit OTP"

maxlength="6"

required>



<button>

VERIFY

</button>


</form>



<div class="security">


SMTP SERVER

<br>

smtp.gmail.com

<br>

Port 587


</div>



</div>


</div>


</body>

</html>